@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: "Nunito", sans-serif;
  --font-heading: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  scroll-behavior: smooth;
}
/* *{
  font-family: var(--font-body);
} */

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: 800; 
}

strong, .highlight {
  color: #4da6ff; 
  font-weight: 700;
}
